/* You can add global styles to this file, and also import other style files */

.f-18 {
    font-size: 18px;
}

.f-white {
    color: white;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}